.header-panel {
    display: flex;
    padding: 12px;
    margin-bottom: 2px;
    background: #22bba6;
    color: #fff;
    font-size: 16px;
    /* border-bottom: 1px solid #0fa794; */
    box-shadow: 0 2px 1px #0fa794;
}

.header-icon {
    flex: 1;
}

.header-title {
    flex: 2;
    text-align: center;
}

.header-extra {
    flex: 1;
    text-align: right;
}

.header-extra i {
    margin-right: 10px;
}
.ant-drawer-content {
    background: #e7eaef;
}
 
.ant-drawer-content p {
    font-size: 14px;
    color: #21BBA6;
    padding: 5px 0 0 2px;
}

.drawer-list li {
    padding: .8em 0;
    font-size: 18px;
    color: black;
}

.drawer-list .anticon {
    margin-right: .6em;
}